*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(88, 156, 88);
}
.hoja{
    width: 1020px;
    height: 1200px;
    background: yellow;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: black solid;
}
header{ /*titulo principal*/
    width: 100%;
    height: 200px;
    background:gray ;
    box-sizing: border-box;
    position: relative;
}
header p{
    margin: 10px;
    width: 800px;
    text-align: justify;
    font-size: 2rem;
}
.texttitle{
    width: 800px;
    position: relative;
    display: inline-block;
    border: black solid;
    margin: 5px;
    top: 12px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.imgtitulo{
    border: black solid;
    width: 18%;
    height: 89%;
    position: absolute;
    margin: 5px;
    box-sizing: border-box;
}

.section1{ /*seccion de la primera pelicula*/
    position: relative;
    width: 1020px;
    height: auto;
    border: blue solid;
    box-sizing: border-box;
} 
.section1 h3{
    position: relative;
    top: 2px;
    border: black solid;
    width: 90%;
    background: red;
    margin-right: 10px;
    margin-left: 17px;
    text-align: center;
    box-sizing: border-box;
}
.img1{
    width: 300px;
    height: auto;
    position: relative;
    border: black solid;
    margin: 15px;
    box-sizing: border-box;
    display: inline-block;
} 
.texto1{
    display: inline-flex;
    background: blue;
    border: black solid;
    width: 660px;
    box-sizing: border-box;
    margin: 15px;
    margin-left: 0;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
}
.text1{
    margin: 4px;
    text-align: justify;
}

.section2{ /*seccion de la segunda pelicula*/
    width: 1020px;
    height: auto;
    border: black solid;
    position: relative;
    top: 2px;
    box-sizing: border-box;
} 
.section2 h3{
    position: relative;
    top: 4px;
    border: black solid;
    width: 45%;
    background: red;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
}
.img2{
    width: 50%;
    height: 320px;
    position: relative;
    bottom: 20px;
    left: 480px;
    border: black solid;
    box-sizing: border-box;
    display: inline-block;
} 
.texto2{
    display: inline-block;
    background: blue;
    border: black solid;
    width: 45%;
    box-sizing: border-box;
    margin: 10px;
    font-size: 1.3rem;
    text-align: justify;
    position: relative;
    bottom: 35px;
    right: 510px;
}
.text2{
    margin: 4px;
    text-align: justify;
}