*{
    box-sizing: 0;
    margin: 0;
    padding: 0;

}
.fondo{
    background: rgb(88, 156, 88);
    flex-wrap: wrap;
}
.hoja{
    height: 100%;
    width: 90%;
    border: black solid;
    background: yellow; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.titulo{
    width: 100%;
    height: auto;
    position: relative;
    top: 2px;
    color: aquamarine;
    left: 0%;
    font-size: 1rem;
    text-align: center;   
    flex-wrap: wrap;
    min-width: 100%;
    background: salmon;
    box-sizing: border-box; 
}
.hoja h3{
    position: absolute;
    font-size: 0.5rem;
    top: 80px;
}

.img2{
    width: 180px;
    height: 140px;
    margin: 4px;
    box-sizing: border-box;
    border: black solid;
    display: inline-block;
}
.img1{
    width: 100px;
    height: auto;
    position: relative;
    top: 15px;
    border: black solid;
    margin: 4px;
    box-sizing: border-box;
    display: inline-block;
} 
.texto1{
    display: inline-block;
    background: blue;
    margin: 10px;
    border: black solid;
    width: 70%;
    bottom: 30;
    box-sizing: border-box;
    
}
.texto1 p{
    margin: 5px;
}
